{% extends "base.html" %}

{% block title %} 
<title> Account Menu </title>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
    
{% block content %}
<link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='account.css') }}" >

<div class="home_content">
    <div class="text"> Account List </div>
    
    <div class="id-count">
        {% if count == 0 %}
        <p>There are no users.</p>
        {% elif count == 1 %}
        <p>There is 1 user.</p>
        {% else %}
        <p>There are {{ count }} users.</p>
        {% endif %}
    </div>

    <table class="table table-hover">
        <thead>
          <tr>
            <th>Username</th>
            <th>Gender</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
            {% for list in user_list %}
          <tr>
            <td>{{ list.get_username() }}</td>
            <td>{{ list.get_password() }}</td>
            <td>{{ list.get_email() }}</td>

            <td><a href="/Update/{{list.get_user_id()}}" class="btn btn-warning">Update</a></td>

            
          </tr>
          {%endfor%}
        </tbody>
      </table> 

      
</div>



{% endblock %}